*{
    margin: 0px;
    padding: 0px;
}

h2{
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 10px;
}
h1{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px; 
}


table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    border: 1px solid black; 
}
table td {
    padding: 10px;
  
  
   
}
input[type="number"] {
    width: 3em;
    height: 3em;
    border: 0px;
    background-color: #dadada;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.button{
    text-align: center;
}
button {
    margin: auto;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
   
}    

.result{
    
    width: 3em;
    height: 3em;
    
    background-color: #dadada;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}